#all
{

	font-size: 30px;
	hight: 100%;

color: white;
}
body
{
	font-family: 'Press Start 2P', cursive;
	background-image: url(prism.png);
	margin: 0px;
	text-align: center;
	margin-top: 8%;
}
#ile
{
	margin-top: 6%;
	text-align: center;
}
#elmo
{
	 display: flex;
  justify-content: center; /* centruj poziomo */
  align-items: center; /* centruj pionowo */
  margin-top: 1%;
	
}
