#all
{
	display: flex;
  justify-content: center; /* centruj poziomo */
  align-items: center; /* centruj pionowo */
	font-size: 30px;
	hight: 100%;

color: white;
}
body
{
	font-family: 'Press Start 2P', cursive;
	background-image: url(prism.png);
	margin: 0px;
	text-align: center;
	margin-top: 8%;
}
#ile
{
	margin-top: 6%;
	text-align: center;
}
#elmo
{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  
  font-size: 30px;
  color: white; 
	
}
